.header_cadastrar{
float: right;	
}
.nav-cadastro-clientes{
width: 100%;
height: 30px;
}
.nav-cadastro-clientes ul {
float: right;
clear: both;
margin: 0 17px 0 0;
}
.nav-cadastro-clientes ul li {
color:#fff;	
}
.cadastro_titulo{
width:100%;
}
#scrollpage{
max-height:95px;
overflow: auto ;
}
#scrollpage::-webkit-scrollbar { width:5px; background:transparent; }
#scrollpage:: scrollbar { width:5px; background:transparent; }

#scrollpage{
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
#tablescroll{
	max-height: 100px;
}